<!DOCTYPE html>
<html>
<head>
    <title>Subscription Confirmation</title>
</head>
<body>
    <h1>Welcome to our Newsletter, {{ email }}!</h1>
    <p>Thank you for subscribing to updates. We are excited to have you join our community!</p>
    <p>If you did not subscribe, please contact us immediately.</p>
</body>
</html>
